.main_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
  }

  h2 {
    color: white;
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    margin-top: 12px;
  }
  img {
    margin-bottom: 87px;
  }

  .btn {
  }

  p {
    text-align: center;
  }

  body {
    margin: 0;
  }
}
