.main_container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;

  h1 {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    text-align: center;
    text-align: center;
    margin-right: 40px;
    font-size: 20px;
  }

  h2 {
    color: black;
    font-weight: bolder;
    text-align: center;
    font-size: 15px;
    margin-top: 12px;
  }
  img {
    margin-bottom: 87px;
  }

  p {
    text-align: center;
  }

  body {
    margin: 0;
  }
}

.image {
  cursor: inherit !important;
}

.error-message {
  color: red;
}

.form-text {
  font-size: 15px;
}

.buttonR {
  margin-left: 118px;
}

.btn-outline-info {
  margin-right: 102px;
  color: #0dcaf0;
  font-weight: bolder;
  border-color: #0dcaf0;
}
