.textEdit {
  font-size: 30px;
  margin-top: 60px;
}

.container-edit {
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../../Images/img2.jpeg");
  height: 100vh;
}

@media screen and (max-width: 1200px) {
  .container-edit {
    .form-edit {
      width: 50% !important;
    }
  }

  .BtnAtras {
    width: 50% !important;
  }
}

@media screen and (max-width: 750px) {
  .container-edit {
    .form-edit {
      width: 75% !important ;
    }
  }

  .BtnAtras {
    width: 75% !important;
  }
}
