.textEdit {
  font-size: 30px;
  margin-top: 60px;
}

.container-edit {
  background-repeat: no-repeat;
  background-position: left;
  background-image: url("../../Images/img2.jpeg");
  height: 100vh;
}
