.card {
  width: 18rem;
}

.newTransactionBtn {
  border-radius: 30px;
  background: mediumseagreen;
  font-size: 28px;
  border: solid black;
  cursor: pointer;
}

.Add {
  display: flex;
  flex-direction: row-reverse;
}

@media screen and (max-width: 650px) {
  .navbar {
    flex-direction: column;
  }
}
