.navbar {
  p {
    text-transform: uppercase;
    color: white;
    font-weight: bolder;
    margin-top: 20px;
  }

  .container {
    margin-left: 320px;
  }

  .iconUser {
    font-size: 30px;
    color: white;
  }
}
