.navbar {
  .container {
    margin-left: 320px;
  }

  .iconUser {
    font-size: 30px;
    color: white;
  }
}

.item {
  text-transform: uppercase;
  color: white !important;
  font-weight: bolder;
  text-decoration: none;
}
